body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  height: 250px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(176, 170, 170);
}

.table p {
  font-weight: bold;
}

.search {
  /* width: 100%; */
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 239px;
}